
<!--<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center m-5">
    <div class="col-md-9 col-lg-6 col-xl-5 text-center">
      <div><i style="font-size: 20em;" class="fa-solid fa-user"></i></div>
    </div>
    <div class="col-md-8 col-lg-6 col-xl-7">

      <form style="width:fit-content" [formGroup]="formLogin">

        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
          <p class="lead fw-normal mb-5 me-3">Sign in with:</p>
        </div>


        <div class="form-outline mb-4">
          <input type="text" id="login" class="form-control form-control-lg"
            placeholder="Nombre de usuario" name="login" formControlName="login" />
          <label class="form-label" for="login">Login</label>
        </div>

        <div class="form-outline mb-3">
          <input type="password" id="password" class="form-control form-control-lg" placeholder="Contraseña" name="password" formControlName="password" />
          <label class="form-label" for="password">Password</label>
        </div>

        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="button" class="btn btn-outline-success btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login()">Login</button>
        </div>


        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="button" class="btn btn-outline-warning btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="loginAdmin()">Login as admin</button>

          <button type="button" class="btn btn-outline-info btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="loginUser()">Login as user</button>
        </div>

      </form>
    </div>
  </div>
</div>-->


<div class="container mt-4">

  <div class="buttons py-3">
    <button class="btn btn-sm btn-outline-primary mx-2" (click)="loginAdmin()">
      Login as Admin
    </button>
    <button class="btn btn-sm btn-outline-danger mx-2" (click)="loginUser()">
      Login as User
    </button>
  </div>

  <div class="logo mt-3">
    <img src="assets/images/logo/Logo-Luis.png" alt="">
  </div>

  <div class="form-container row mt-3">
    <div class="col-lg-8 col-md-7 col-sm-12 py-2 formulario">
    <h1>Iniciar sesión con:</h1>
    <form [formGroup]="formLogin">
      <div class="inputs">

        <div class="login pb-2">
          <label class="form-label" for="login">Usuario</label>
          <input type="text" id="login" class="" placeholder="Nombre de usuario" name="login" formControlName="login" />
        </div>

        <div class="password pb-2">
          <label class="form-label" for="password">Contraseña</label>
          <input type="password" id="password" class="" placeholder="Contraseña" name="password" formControlName="password" />
        </div>
      </div>

      <div class="text-center mt-3">
        <button type="button" class="btn btn-login" style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login()">
          Entrar
        </button>
      </div>
    </form>
    </div>
    <div class="image px-0 py-0 col-lg-4 col-md-5 col-sm-12 ps-1">
      <img src="assets/images/cinamaLogin.jpg" alt="">
    </div>
  </div>

</div>
