

<div class="container container-shadow mt-3">

  <div class="mb-2">
    <button class="btn btn-outline-danger" routerLink="">Cancelar entradas</button>
  </div>

  <div class="titulo">
    <h2>Datos de tu Compra</h2>
  </div>
  <div class="datos" *ngIf="loggedUsuario">
    <div class="mb-1">
      Entradas a nombre de {{loggedUsuario.nombre}} {{loggedUsuario.apellido1}}
    </div>
    <div class="mb-1">
      Correo: {{loggedUsuario.email}}
    </div>
  </div>

  <div class="datos" *ngIf="!loggedUsuario">
    <div>
      Entradas a nombre de
    </div>
    <div>
      <input type="text" class="form-control">
    </div>
    <div>
      Correo:
    </div>
    <div>
      <input type="text" class="form-control">
    </div>
  </div>


  <div class="pelicula">
    <div class="mb-2">
      Pelicula: {{sesion.pelicula.titulo}}
    </div>
    <div class="mb-1">
      <b>Día: {{sesion.fechaHora | date: 'EEEE dd/MMM - HH:mm'}}</b>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="my-2">
        <h5>Total de entradas {{arrayEntradas.length}}</h5>
      </div>
      <ul>
        <li *ngFor="let item of arrayEntradas">
          Entrada nº {{item.id}} (fila {{item.ejeX+1}} - butaca {{item.ejeY+1}})
        </li>
      </ul>
      <div class="my-2">
        <h5>Total {{totalPrecio}} €</h5>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-outline-danger me-1" *ngIf="this.arrayCompras.length == 0" (click)="back()">
        Volver
      </button>
      <button class="btn btn-outline-success" *ngIf="this.arrayCompras.length == 0" (click)="createCompra()">
        Confirmar compra
      </button>

      <!--<button class="btn btn-outline-info" (click)="createFactura()">
        Crear factura
      </button>-->

      <!--<button class="btn btn-outline-info" (click)="getCompras()">
        get compra
      </button>-->

      <button class="btn btn-outline-info" *ngIf="this.arrayCompras.length != 0" (click)="ngOnChange()">
        Imprimir Entradas
      </button>

    </div>
  </div>
</div>
